*{
    margin: 0;
    padding: 0;
}

.setting{
    .setting_flex{
        .swetting_flex_1{
            transform: translate(500px);
            img{
                object-fit: contain;
                height: 200px;
            }
        }
        .flex{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            left: 0px;
            bottom: 180px;
            h4{
                transform: translate(-22px);
            }
        }
    }
    .bottom{
        .bottom_line{
            border-top: 1px solid grey;
            width: 700px;
            transform: translate(480px);
            h5{
                padding: 10px;
                font-size: 20px;
            }
            .top_line{
                margin: 5px;
                border-top: 1px solid black;
            }
        }
    }
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3px;
    // border: 1px solid black;
    padding: 10px;
    .grid{
        border: 1px solid black;
        img{
            object-fit: contain;
            height: 150px;
        }
        p{
            font-size: 15px;
            transform: translate(-30px);
        }
    }
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }